
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meal Mate</title>
    
  </head>
  <body>
    <div>
      <h1>Register</h1>
    </div>

    <div>
      <form method="POST" action={% url "register" %}>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
      </form>
    </div>
    
    <div>
      <a href="{% url "landingpage" %}">&larr; Back to Home</a>
    </div>
  </body>
</html>
